<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DPMDatabase" value="V:\EIOPA\Data\DPM_release_ver7_clean.xbrt" />
    <add key="EBADatabase" value="V:\EIOPA\Data\DPM_release_ver7_structure_with_EBA_data.xbrt" />
    <add key="TemplateDatabase" value="V:\EIOPA\SolvencyII.UI\SolvencyII.GUI\TemplateDatabase.db" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>